
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header nav a img {
    width: 50px;


}
body {
    background-image: url(code-pic.jpg);
    background-size: cover;
    font-family: fantasy;
    font-weight: 300;
    font-size: large;
}

body img {
    
    opacity: 1.0; /* linked css file has opacity attribute to make it translucent*/
  }
  
  
  
p{
    color: greenyellow;
    text-decoration: seagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 50px;
    text-align: justify;
}
.red {
    color:rgb(128, 0, 0);
    
    
}

.red1 {
    color: rgb(231, 10, 10);
    
}
footer h3 {
   width: 100;
    position: fixed;
    bottom: 0;
    margin-left: 10px;
    width: 100%;
}
h3 {
    color: green;
}
h4 {
    color: rosybrown;
}